@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --bg-primary: #E9ECF8;
    --color-dark-blue: #0A3871;
    --color-blue: #D8DFE8;
}

body{
    background: var(--bg-primary);
    font-family: "Inter", sans-serif;
}

i{
    color: var(--color-dark-blue);
    font-size: 20px;
}

.btn{
    padding: 18px;
    font-size: 18px;
}

.btn-primary{
    background-color: var(--color-dark-blue);
    border-color: var(--color-dark-blue);
    border-radius: 24px;
}

.btn-outline-primary{
    background-color: transparent;
    color: var(--color-dark-blue);
    border-color: var(--color-dark-blue);
    border-radius: 24px;
}

.textareaInput{
    background-color: var(--bg-primary);
    border: none;
    border-radius: 32px;
    padding: 5%;
    font-size: 24px;
    color: var(--color-dark-blue);
}

.textareaInput::placeholder {
    font-size: 24px;
}

.output{
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: auto;
}

.textOutput{
    border: none;
    margin-top: 5%;
    font-size: 18px;
    background-image: url(./images/output.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.textOutput:focus{
    box-shadow: none ;
    outline: none;
}

.textOutput:hover{
    box-shadow: none;
}

.textOutput::placeholder {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.textOutput[readonly] {
    background-color: transparent;
}

.noBackground {
    background-image: none;
}

